# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Archivos temporales
temp/*
!temp/.gitkeep

# Documentos (subir después)
docs/*.pdf

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db